.navbar {
  justify-content: space-between;
  background-color: #db4c3f;
}

button {
  margin-right: 1rem;
  border: none;
  color: white;

  background-color: transparent;
}
button:hover {
  background-color: hsla(0, 0%, 100%, 0.2);
  cursor: pointer;
}
// .trend {
//   background-color: white;
//   color: #db4c3f;
// }
