<div *ngIf="project">
    <div>
        <mat-list *ngFor="let item of taskData">
            <mat-list-item>
                <mat-checkbox>{{item.content}}</mat-checkbox>
                <button (click)="deleteTask(item.id)" class="delete">x</button>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </div>
    <div *ngIf="showTask;else elseBlock">
        <mat-form-field appearance="fill">
            <mat-label>Task Name</mat-label>
            <input #myInput matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Schedule date</mat-label>
            <input matInput #dateInput [matDatepicker]="myDatePicker" [min]="minDate" [max]="maxDate">
            <mat-datepicker-toggle matSuffix [for]="myDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatePicker></mat-datepicker>
        </mat-form-field>
        <button (click)="addTask(myInput.value, projectId,dateInput.value)" color="primary" mat-raised-button>Add
            task</button>
        <button (click)="showAddTask()" mat-raised-button color="warn">Cancel</button>
    </div>
    <ng-template #elseBlock>
        <button mat-flat-button (click)="showAddTask()">+ Add Task</button>
    </ng-template>
</div>